import(caret, RColorBrewer, sqldf, gplots, pamr, kernlab, FSelector, Vennerable,RColorBrewer)
export(
lcy.aheatmap,
lcy.classifier,
lcy.composition.plot,
lcy.cor,
lcy.create.db.from.file,
lcy.create.db.from.memory,
lcy.diff.comparison,
lcy.feature.selector,
lcy.freq.summ,
lcy.initiation,
lcy.in,
lcy.is.matrix.in,
lcy.misc.cutdendrogram,
lcy.misc.filter.marker,
lcy.misc.select.marker,
lcy.nmf.cluster,
lcy.pam.predict,
lcy.pam.train,
lcy.plot.distribution,
lcy.row.join,
lcy.set.operation,
lcy.set.vertex.attr,
lcy.stat.filter,
lcy.stat.mds,
lcy.stat.multivariateScatter,
lcy.stat.pca,
lcy.stat.remove.outliers,
lcy.survival.estimate,
lcy.svm,
lcy.table.collapse,
lcy.table.read,
lcy.table.split,
lcy.table.write,
lcy.tORz.score,
lcy.venn.diagram
)
