import(caret, RORC, RColorBrewer, sqldf, gplots, pamr, kernlab, FSelector, Vennerable,RColorBrewer)
#useDynLib(lcyRpkg, .registration=TRUE) dynamic

export(
lcy.aheatmap.R
lcy.classifier.R
lcy.composition.plot.R
lcy.cor.R
lcy.create.db.from.file.R
lcy.create.db.from.memory.R
lcy.diff.comparison.R
lcy.feature.selector.R
lcy.freq.summ.R
lcy.initiation.R
lcy.in.R
lcy.is.matrix.in.R
lcy.misc.functions.R
lcy.misc.select.marker.R
lcy.nmf.cluster.R
lcy.pam.predict.R
lcy.pam.train.R
lcy.ROCcurve.R
lcy.row.join.R
lcy.set.operation.R
lcy.set.vertex.attr.R
lcy.stat.filter.R
lcy.stat.mds.R
lcy.stat.multivariateScatter.R
lcy.stat.pca.R
lcy.stat.remove.noise.R
lcy.survival.estimate.R
lcy.svm.R
lcy.table.collapse.R
lcy.table.read.R
lcy.table.split.R
lcy.table.write.R
lcy.tORz.score.R
lcy.venn.diagram.R
}
